<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {{#each stylesheets}}
      <link rel="stylesheet" href="{{ this }}">
    {{/each}}
  </head>
  <body>
    <div id="container">
      {{ body }}
    </div>

    <img id="sleepy-cat-left" src="assets/sleepy-cat.gif" />
    <img id="sleepy-cat-right" src="assets/sleepy-cat.gif" />
  </body>
</html>
